name: Docker Image CI
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - ".github/workflows/*"
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        cd ./api && docker build . --file ./api/Dockerfile --tag my-image-name:$(date +%s)
